@using MvcPL.Infrastructure.Helpers
@using MvcPL.ViewModels
@model LogOnViewModel

<div id="login" class="login">
    @{
        if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                <div class="logout-div" style="">
                    <input type="submit" title="Log Out" value="Hi, @User.Identity.Name" class="logout-btn" >
                </div>
                }
            }
            else
            {
                <input class="open" id="top-box" type="checkbox" hidden>
                <label class="btn" for="top-box">Sign Up</label>
                    <div class="login-panel">
                        <div class="login-form">
                            @Html.Partial("LogOn", new LogOnViewModel() { Email = @Model.Email, Password = @Model.Password })
                        </div>
                    </div>
            }
        }
    </div>

