@using MvcPL.ViewModels
@model LogOnViewModel

<div id="login" class="login">
    @{
        if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                <div class="dropdown">
                    <span>Hi, @User.Identity.Name</span>
                        <div class="dropdown-content">
                            <input type="submit" title="Log Out" value="Log Out" class="logout-btn">
                        </div>
                </div>
            }
        }
        else
        {
             @Html.ActionLink("Log in", "LogOn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_width = 300 })
        }
    }
    </div>

