@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="error-div-500">
    <p class="error-code">500</p>
    <p class="error-500-text">
        An error occurred while processing your request!
    </p>
    <img src="~/Content/images/error.gif" style="display:block;" />
    @Html.ActionLink("Back to main page", "Index", "Photo")
</div>