@model MvcPL.ViewModels.UserViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<h2>Delete User</h2>

<div>Are you sure you want to delete user with login <b>@Html.DisplayFor(model => model.Email)</b>?</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
    </p>
    <p>
        @Html.ActionLink("Back to user's list", "Index")
    </p>
}
