body {
    font-family:"Times New Roman";
    font-size:1em;
    height: 100%;
}

html {
    font-family: "Times New Roman";
    font-size:14px;
}
/* For IE 6 */
* html #wrapper {
    height: 100%;
}

.logo{
    background-image:none; 
    width:20%;
}

.footer-logo{
    background-image:none; 
    width:13%;
    float:right;
    margin-top:-5rem;
}

header {
    width:90%;
    min-height: 10rem;
    height: auto;
    max-width:1024px;
    margin:0 auto;
}

.main-content {
    width:90%;
    max-width:1024px;
    margin:0 auto;
    padding-bottom:6rem;
}

footer {
    width:90%;
    max-width:1024px;
    margin:0 auto;
    height:6rem;    
    clear:both;
    margin-top:6rem;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    text-align:center;
}

a {
    text-decoration:none;
    color: #00ced1;
}

a:visited{
    text-decoration:none;
    color: darkblue;
}

a:hover {
    color:blue;
    text-decoration:none;
}

a:active{
    border:none;
    text-decoration:none;
}

/* Style for menu */
.topnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
    width:60%;
}

.topnav li{
    float: left;
}

.topnav li a{
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.topnav li a:hover{
    background-color:darkturquoise;
}

.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
    .topnav li:not(:first-child) {
        display: none;
    }
    .topnav li.icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

footer > nav {
    background: none !important;
}

.footer-nav{
    list-style:none;
}
.footer-nav li{
    float:left;
    color:black;
    padding: 1rem;
}

.star{
    background-image:none;
}

.vote-div{
    width:50%;
    float:left;
}

img {
  background: url('images/ajax-loader.gif') no-repeat center;
}

/* Style for input type="file" */
.file-upload{
    display: block;
    position: relative;
    overflow: hidden;
    margin-left:2rem;
    height: 2rem;                 
}
.file-upload .button, .file-upload > mark{
    display: block;
    cursor: pointer;              
    margin-top: 0.6rem;
}
.file-upload .button{
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 6rem;                 
    height: 70%;
    text-align: center           
}
.file-upload > mark{
    background: transparent;     
    padding-left: 1rem            
}

.file-upload input[type=file]{
    position: absolute;
    top: 0;
    opacity: 0
}

@media only screen and ( max-width: 500px ){  /* example */
    .file-upload > div{
        display: none
    }
    .file-upload > button{
        width: 100%
    }
}

#preview {
    background-image: none; 
    padding-top: 1.5rem;
    margin-left: 4.5rem;
}

.col-sm-offset-3{
    margin-left:34%;
}

div.form-group label.file-upload {
    float: left;
    text-align: left;
    width: 89%;
}

div.form-group label.file-upload span{
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:12px;
}

.login{
    text-align: right;
    color: white;
}

/* style for table with div */
.div-table { 
    margin-left:auto;
    margin-right:auto; 
    margin-top:1rem;
} 
.div-row { 
    width:100%;
}
.div-cell {   	
    padding: 1.4rem; 	
    border: 1px solid #999999;
    float:left;
}

/* Login Panel */
.login-panel {
    float:right;
    margin-top: 0.4rem;
    overflow: auto;
    padding: 0;
    display: none;
}

input[type=checkbox]:checked ~ .login-panel {
   display: block;
}

/* Div with login form */
.login-form {
    font-weight: 300;
    position: relative;
}

.login-form input[type=text] {
    float:left;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:16px;
}

.login-form input[type=password] {
    float:left;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:16px;
}

.login-form input[type=submit] {
    float:left;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size:12px;
}

.login-form div.editor-field{
    float:left;
    margin-right:0.3rem;
}

/* Sign Up button */
label.btn {
    display: block;
    float:right;
    margin-top:-3.6rem;
    cursor: pointer;
    background: #2bbbad;
    width: 5rem;
    border-radius: 0 0 5px 5px;
    padding: 8px 5px;
    color: #FFF;
    line-height: 2rem;
    font-size: 14px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all 400ms cubic-bezier(0.17,0.04,0.03,0.94);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    z-index: 10
}

/* Style for Search photos */
#search{
    float:left;
    width:60%;
}

.selected-photo 
{   	
    padding: 10px;
}

/*#searchResult{
    margin-left:auto;
    margin-right:auto;
}*/

#search-photos{
    display:block; 
    float: left;
}

.photo-description{
    width:100%;
}

.rating {
    float:left;
    width: 50%;        
}

/* Display all photo */
.grid {
    width:100%;
	max-width: 1024px;
	text-align: center;
}

.grid div.r-table-cell {
	display: inline-block;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img.source-photo {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: white;
    font-size:12px;
}

@media screen and (max-width: 31.5em) {
	.grid div.r-table-cell {
		width: 100%;
		min-width: 300px;
	}
}

.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img.source-photo {
	transition: transform 0.4s;
}

.cs-style-3 figure:hover img.source-photo,
.cs-style-3 figure.cs-hover img.source-photo {
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	transform: translateY(100%);
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	transform: translateY(0px);
	transition: transform 0.4s, opacity 0.1s;
}

.multi-line  {   
    height:  5em;  
    font-family:  Segoe UI,  Verdana;  
    width: 20em;
}

/* Style for button */
input[type=submit] {
    padding:0.3rem 0.9rem; 
    background:white; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 0.3rem; 
}

input#get-photos[type=submit]{
    margin-left:-2.7rem;
    background-image: url('images/find.png');
    background-position:center;
    background-repeat: no-repeat;
}

input#photo[type=text] {
    width: 14rem;
    max-width: 30rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input#photo[type=text]:focus {
    width: 100%;
}

nav {
    background-color: darkturquoise;
    float: left;
    width: 100%;
}

#ui-id-1{
    position:fixed;
    background-color:white;
    border: 1px solid #ccc;
    border-top-style: none;
    border-radius: 4px;
    width:1em;
    list-style:none;
    opacity:0.8;
}

/* Register form */
#register-form{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
}
#register-form form{
    margin-left:auto;
    margin-right:auto;
}

#register-form div.form-group{    
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 70%;
}

#register-form input[type=submit]{
    border:thin solid lightgray;
    margin-left: 16.5rem;
}

div.form-group label {
    text-align:left;
    width:35%;
    float:left
}

div.form-group div {
    text-align:left;
    width:55%;
    float:left
}

.img-responsive{
    padding-top:0.5rem;
    padding-left:3rem;
}

/* Description photo */
#description-photo{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

#description-photo img {
    margin-left:1.1rem;
}

#about-photo{
    float:right;
    margin-right:9rem;
}

/* GetAllPhoto */
.source-photo{
    float:left;
    background: url('images/ajax-loader.gif') no-repeat center;
}

.results img{
    width:300px;
    height: 300px;
    float: left;
}

.photos-div{
    width:342px; 
    border: none;
}

/* Placeholder */
input[type=text]:focus::-webkit-input-placeholder {color: transparent}
input[type=text]:focus::-moz-placeholder          {color: transparent}
input[type=text]:focus:-moz-placeholder           {color: transparent}
input[type=text]:focus:-ms-input-placeholder      {color: transparent}

input[type=password]:focus::-webkit-input-placeholder {color: transparent}
input[type=password]:focus::-moz-placeholder          {color: transparent}
input[type=password]:focus:-moz-placeholder           {color: transparent}
input[type=password]:focus:-ms-input-placeholder      {color: transparent}

.category-dropdown{
    width:15em;
}

.category-dropdown select{
    margin-left: 2.6%;
    margin-top: 1%;
}

input[type=text]{
    color:black;
}

.delete-photo{
    background:url(images/delete-photo.png) no-repeat center;
    float: right;
    width:24px;
    height:24px;
    color: transparent;
    font-size:0;
}

.left-float{
    float:left;
}

.left-float img{
    width:10px;
    height:10px;
}

.right-float{
    float:right;
}

.img-preview{
    width:150px; 
    height:150px;
}

#description-photo img{
    width:400px;
    height:400px;
}

.central-div{
    width:80%; 
    margin:0 auto;
}

.edit-img{
    float:left; 
    width:48%;
}

.edit-label{
    width:20%;
}

.edit-save{
    border: 1px solid #999; 
    margin-left:5rem; 
    margin-top: 1rem;
}

.edit-cancel{
    border: 1px solid #999; 
    font-size: 12px; 
    margin-top: 1rem;
}

.display-img{
    width:300px;
    height:300px;
}

.delete-non-ajax{
    width:24px;
    height:24px; 
    background-image:none; 
    margin-left: -24px; 
    z-index: 10; 
    position:absolute;
}

.photo{
    width:24px; 
    height:24px;
    background-image:none;
}

.photos-list{
    border:none; 
    width:340px;
}

.user-description{
    display:none;
    margin-left:10rem;
}
.email:hover + .user-description{
    display:block;
    position:absolute;
}

div.user-description img{
    width:100px;
    height:100px;
    background-image:none;
}

.logout-btn{
    background-color:transparent !important; 
    color:white; 
    font-size:1.2rem;
}

.logout-div{
    float:right; 
    margin-top: -3.5rem; 
    margin-right: 0.5rem;
}

#get-photos{
    background-image:url(/Content/images/find.png);
    height:20px;
}

span[data-descr]:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 43rem;
  top: 10.5rem;
  min-width: 10rem;
  border-radius: 10px;
  background-color: #00ced1;
  padding: 0.5em;
  color: white;
  font-size: 14px;
  z-index: 1;
  text-align: center;
}
