@model MvcPL.ViewModels.PhotoViewModel

<div class="results">
    <img id="img_@Model.Id" src="@Url.Action("GetImage", "Photo", new { photoId = Model.Id })" class="source-photo" alt="@Model.Description"/>
</div>

@section Scripts
{
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jqueryval")
}