@model MvcPL.ViewModels.PhotoViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}
<div id="description-photo">
    <img src="@Url.Action("GetImage", "Photo", new { photoId = Model.Id })"/>
    <div id="about-photo">
        <h4>Photo Details: @Model.Description</h4>
        <p>@Model.CreatedOn</p>
        <p>@Html.ActionLink("Back to main page", "GetAllPhoto")</p>
    </div>
</div>
