@model IEnumerable<MvcPL.ViewModels.PhotoViewModel>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<script src="~/Scripts/jquery.tmpl.js"></script>
<script src="~/Scripts/find-photos.js"></script>

<div class="central-div">
    <h2>Result of search</h2>
    <hr>
    <div class="r-table" id="search-photos">
        @{var counter = 1; }
        <div class="r-table-row">
            @foreach (var photo in Model)
            {
                <div class="r-table-cell">
                    <a onclick='aboutPhoto(this)' data-ajax='true' data-ajax-mode='replace' data-ajax-update='#photoTemplate' href='/Photo/Details?photoId=@photo.Id'>
                        <img src='/Photo/GetImage?photoId=@photo.Id' width="100" height="100" />
                    </a>
                </div>
                if (counter % 3 == 0)
                {
                    @:</div><div class="r-table-row">
                }
                counter++;
            }
        </div>
    </div>
    <div style="width: 40%; margin-left: 38em;">
    <span id="search-photo" class="left-float"></span>
    <img id="indicator" src="@Url.Content("~/Content/images/ajax-loader.gif")" alt="loading..." style="display:none" />
    <div class="selected-photo" style="display:none">
    </div>
    <script id="photoTemplate" type="text/x-jquery-tmpl">
        <p class="photo-description">
            ${Description}
        </p>
        <img src="/Photo/GetImage?photoId=${Id}" alt="Photo" class="display-img" />
        <br style="clear:both;" />
    </script>  
    </div>
</div>