@model MvcPL.ViewModels.PagedData<MvcPL.ViewModels.PhotoViewModel>

@{
    ViewBag.Title = "My Photo";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="~/Scripts/load-user-photos.js"></script>

@if (Model.Data.Count() == 0){
    <div class="central-div">
        <p>No photo. @Html.ActionLink("Add Photo", "CreatePhoto")</p>
    </div>
}

<div id="photos-list">
    @if (TempData["message"] != null)
    {
        <div>
            @TempData["message"]
        </div>
    }
        @Html.Partial("PhotosList")
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}