@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}

<div class="central-div" style="text-align:justify;">
    <h4>What role does photography play in Your life?</h4>
    <hr />
    <div id="float">
        <img src="~/Content/images/about-photo.png" style="width: 25%; float:left;" alt="Photo">
    </div>
    <p>Photography is an art that has been with us for a very long time. Ever since the introduction of the pin 
        hole camera many years ago. Photography has undergone many transformations and the process is still on going on. 
        With time, better photos have been produced because even the technology and equipment in use have changed significantly.</p>
    <p>Photography also has different genres and that is why even photographers specialize in different types of the art. 
    You will find portrait photographers, landscape photographers and still life photographers just to mention a few. 
    People who love nature often take photos of different things in life such as trees, mountains, rivers and many other 
    important natural features of the world. Other people who see photos from other places get the inspiration and urge 
    to visit the same places with the hope of experiencing the beauty they have seen in the photos.</p>
</div>
