@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_PhotoLayout.cshtml";
}
<div style="width:80%; margin-left:auto; margin-right:auto;">
<h2>@ViewBag.Title</h2>
<hr>

<address>
    <strong>Support:</strong>   <a href="mailto:leshkovanm@google.com">leshkovanm@gmail.com</a><br />
</address>
</div>